<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsControlLibrary1.Properties.Settings.BaseVolunteerConnectionString"
            connectionString="Data Source=DESKTOP-61S95FO\SQL;Initial Catalog=BaseVolunteer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsControlLibrary1.Properties.Settings.VolunteerBaseConnectionString"
            connectionString="Data Source=DESKTOP-61S95FO;Initial Catalog=VolunteerBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>