<!DOCTYPE html>
<html ng-app="tableApp">
 <head>
  <meta charset="utf-8">
  <title>Волонтерская книжка</title>
  <meta name="keywords" content="волонтеры, мероприятия, волонтерство">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
 </head>
 <body ng-controller="MyCtrl">
 
 <div class="header">
 <div class="title"><img src="jpg/blue.png" height="100px" alt="Герб"><h1>Волонтерское движение пермского края </h1></div>
<ul id="menu">
        <li><a href="">О волонтере</a></li>
        <li><a href="">Волонтерская книжка</a></li>
      </ul>
</div>

<div class="container">
<h2>Волонтерская книжка</h2>
<h3>Волонтер: Чащухина Анна Сергеевна</h3>

<p class="search">Поиск: <input type="text" ng-model="search"/></p>
  <table>
   <tr>
    <th>Мероприятие</th>
    <th>Направление</th>
	<th>Дата</th>
    <th>Адресс</th>
    <th>Зачтенные часы</th>
   </tr>
   <tr ng-repeat="ev in events | filter : search">
    <td>{{ev.event}}</td>
    <td>{{ev.sphere}}</td>
	<td>{{ev.date}}</td>
    <td>{{ev.adress}}</td>
    <td>{{ev.hours}}</td>
   </tr>
  </table>
  
  </div>
 </body>
</html>
<script>
angular.module('tableApp', [])
  .controller('MyCtrl', function ($scope){
    $scope.events = [
	  {"event": "Контроль состояния объектов культурного исторического наследия города Перми.", "sphere": "Культура", "date": "24.04.2018", "adress":"Центральные улицы г.Перми","hours":3},
      {"event": "Теплый забег", "sphere": "Спорт", "date": "10.03.2018", "adress":"г.Пермь Студенческий городок ПГНИУ","hours":4},
      {"event": "Открытие манежа «Пермь Великая»", "sphere": "Спорт", "date": "30.03.2019", "adress":"г.Пермь ул.Куйбышева 126А","hours":3},
      {"event": "Финал чемпионата по баскетболу 3х3", "sphere": "Спорт", "date": "23.02.2019", "adress":"г.Пермь ДС Сухарева","hours":6},
      {"event": "Тотальный диктант 2019", "sphere": "Образование", "date": "13.04.2019", "adress":"г.Пермь Детская библиотека №15","hours":2},
      {"event": "Квалификационный матч на кубок мира по баскетболу: Россия-Финляндия", "sphere": "Спорт", "date": "24.02.2019", "adress":"г.Пермь УДС Молот","hours":6},
      {"event": "Всероссийский полумарафон «ЗаБег»", "sphere": "Спорт", "date": "23.06.2019", "adress":"г.Пермь","hours":5},
	  {"event": "Забег «На одном дыхании»", "sphere": "Спорт", "date": "25.07.2019", "adress":"г.Пермь","hours":4},
	  {"event": "Триатлон Кама Спринт", "sphere": "Спорт", "date": "26.07.2019", "adress":"г.Пермь","hours":4},
	  {"event": "Фестиваль «Season в Хохловке»", "sphere": "Культура", "date": "28.07.2020", "adress":"с.Хохловка","hours":8},
	  {"event": "Домашние игры ХК Молот-Прикамье 2019-2020", "sphere": "Спорт", "date": "20.04.2020", "adress":"г.Пермь УДС Молот","hours": 12},
	  {"event": "Домашние игры БК Парма 2019-2020", "sphere": "Спорт", "date": "23.03.2020", "adress":"г.Пермь УДС Молот","hours":20},
	  {"event": "Домашние игры БК Парма 2018-2019", "sphere": "Спорт", "date": "23.03.2019", "adress":"г.Пермь УДС Молот","hours":20},
	  {"event": "Соревнование по программированию в НИУ ВШЭ Пермь", "sphere": "Образование", "date": "23.09.2020", "adress":"г.Пермь бул.Гагарина 37","hours":2},
	  {"event": "Форум городского и регионального развития", "sphere": "Наука", "date": "25.10.2020", "adress":"г.Пермь Триумф","hours":7},
	  {"event": "Конференция «Код информационной безопасности»", "sphere": "Наука", "date": "28.11.2019", "adress":"г.Пермь MorionDigital","hours":6},
	  {"event": "Олимпиада по математике для девочек в НИУ ВШЭ Пермь", "sphere": "Образование", "date": "15.10.2019", "adress":"г.Пермь бул.Гагарина 37А","hours":2},
	  {"event": "«Теплый забег» 2019", "sphere": "Спорт", "date": "23.03.2019", "adress":"г.Пермь","hours":4},
	  {"event": "Школа-конференция молодых ученых Пермского края", "sphere": "Наука", "date": "24.04.2020", "adress":"г.Пермь MorionDigital","hours":2},
	  {"event": "Финал конкурса «Большая разведка»", "sphere": "Наука","date": "24.04.2020", "adress":"г.Пермь MorionDigital","hours":2},
	  {"event": "Концерт группы БИ2", "sphere": "Культура", "date": "12.11.2019", "adress":"г.Пермь УДС Молот","hours":4},
	  {"event": "HR форум в НИУ ВШЭ Пермь", "sphere": "Образование", "date": "10.10.2019", "adress":"г.Пермь бул.Гагарина 37А","hours":2},
	  {"event": "Конференция GIC", "sphere": "Наука", "date": "23.10.2020", "adress":"г.Пермь MorionDigital","hours":3},
	  {"event": "Всероссийский полумарафон «ЗаБег 2020»", "sphere": "Спорт", "date": "23.06.2020", "adress":"г.Пермь","hours":4},
	  {"event": "Концерт Гарика Сукачева", "sphere": "Культура", "date": "6.03.2020", "adress":"г.Пермь УДС Молот","hours":4},
	  {"event": "«Айс шоу»", "sphere": "Спорт", "date": "20.01.2020", "adress":"г.Пермь УДС Молот","hours":5},
	  {"event": "Финал кубка России по триатлону", "sphere": "Спорт", "date": "20.05.2020", "adress":"г.Пермь ПермьI","hours":4},
	  {"event": "Домашние игры БК Парма 2019-2021", "sphere": "Спорт", "date": "23.03.2021", "adress":"г.Пермь УДС Молот","hours":20},
	  {"event": "«Стальной характер»", "sphere": "Спорт", "date": "20.08.2020", "adress":"Иван-гора","hours":6},
	  {"event": "Футбольный матч между командами ФК Звезда и ФК Сочи", "sphere": "Спорт", "date": "30.03.2019", "adress":"","hours":3},
	  {"event": "Дни пермского бизнеса", "sphere": "Спорт", "date": "23.07.2020", "adress":"г.Пермь Эспланада","hours":10},
	  {"event": "Ледовое шоу Чемпионы Ильи Аверхбуха", "sphere": "Культура", "date": "6.01.2021", "adress":"УДС Молот","hours":5},
	  {"event": "Фестиваль уличной культуры «Герои улиц»", "sphere": "Культура", "date": "23.10.2021", "adress":"завод Шпагина","hours":7},
	  {"event": "Матчи отборочного турнира чемпионата Европы по баскетболу 2022", "sphere": "Спорт", "date": "24.02.2021", "adress":"УДС Молот","hours":20}
    ];
});
</script>




